.Cabecera
{
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: flex;
}
body
{
  text-align: center;
  font-family: 'Baloo Da', cursive;
}
#GitLogo
{
  width: 200px;
}
#GitHubLogo
{
  width: 300px;
}
#Lista
{
  display: block;
  font-size: 30px;
  padding: 10px;
}
#Titulo1
{
  font-size: 100px;
  padding: 50px;
}
#Titulo3, #Titulo4
{
  font-size: 40px;
  text-align: left;
}
#Titulo2
{
  font-size: 50px;
}
.Imagenes
{
  width: 40%;
  float: left;
  height: 170px;
  margin: 2em 0;
  top: 0;
}
.Articulo1
{
  margin-left: 2em;
}
.Info2
{
  padding: 65px;
}
#P1, #P2
{
  text-align: left;
}
a
{
  color: inherit;
}
#L1
{
  text-decoration: none;
}
